.App {
  display: grid;
  align-items: center;
  padding-right: 20px;
  justify-content: space-evenly;
  align-items: center;
  justify-items: center;
  grid-template-columns: repeat(auto-fill, 240px);
  gap: 5px;
  grid-auto-rows: minmax(100px, auto);
  min-height: 50vh;
}
.aligncenter{
  justify-content: center;
  grid-template-columns: auto;
}
.searchbar{
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.searchbar>input{
  display: block;
  width:200px;;
  border-radius: 25px;
  padding: 15px 20px;
  border: none;
  background: #eee;
}

.App-logo {
  pointer-events: none;
}
.pokemonCard>div:first-child {
  font-weight: 500;
  height:116px;
  width:96px;
  padding: 10px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: lightGray;
  align-items: center;
}
.pokemonCard>table:last-child {
  padding: 5px 10px 5px;
  height:96px;
  flex-direction: column;
  align-items: center;
  height: 100%;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
.pokemonCard {
  text-transform: capitalize;
  display: inline;
  margin:15px;
  border-radius: 15px;
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  -webkit-box-shadow: 5px 5px 15px -3px rgba(0,0,0,0.55);
  -moz-box-shadow: 5px 5px 15px -3px rgba(0,0,0,0.55);
  box-shadow: 5px 5px 15px -3px rgba(0,0,0,0.55);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo0 {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.root{
  min-height: 100vh;
}
*{
  border:none;
}
